<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Dish</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/editChef.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container edit platos">
        <form
          action="/film/edit/<%= result[0].film_id %>/<%= result[0].cinephile_id %>"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="nombre">Name</label>
          <input
            class="text-light"
            type="text"
            name="titulo"
            id="nombre"
            placeholder="titulo"
            value="<%= result[0].title %>"
          />
          <br />
          <label for="description">Dish Description</label>
          <input
            class="text-light"
            type="text"
            name="description"
            id="description"
            value="<%= result[0].film_description %>"
          />
          <label for="description">Dish Description</label>
          <input
            class="text-light"
            type="text"
            name="director"
            id="description"
            value="<%= result[0].director %>"
          />
          <br />
          <label for="foto">Dish Photo</label>
          <input class="text-light" type="file" name="img" id="foto" />
          <br />
          <button type="submit">Save Changes</button>
        </form>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>













